body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #c58940;
}

h1 {
  margin: 0;
  font-family: "Licorice", cursive;
  padding-top: 20px;
}

h6 {
  padding-bottom: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 40px;
}

.p {
  font-family: "Merriweather", serif;
}

.navbar-brand {
  padding-left: 10px;
}
.profile-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.workbench {
  height: 250px;
  width: 350px;
  padding-bottom: 40px;
}

.workshop {
  height: 400px;
  width: 550px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.womens-sandals,
.brown-sandals,
.colorful-sandals,
.mens-sandals {
  height: 150px;
  width: 150px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.top-container {
  background-color: #faeab1;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}

.middle-container {
  background-color: #e5ba73;
  text-align: center;
  padding-bottom: 10px;
}

.bottom-container {
  background-color: #c58940;
  text-align: center;
}